{% extends 'caja/base.html' %}
{% load crispy_forms_tags %}
{% load tz%}

{% if user.is_authenticated %}
TU MADRE
{% else %}
<a href="/login">Iniciar Sesion.</a>
{% endif %}
{% block opform %}



    <form action=""  autocomplete="off" method="POST">
                    {% csrf_token %}
                      <div class="form-row">
                        <div class="col-3">
                          {{form.monto|as_crispy_field}}

                        </div>
                        <div class="form-group col-3">
                          
                          {{form.metodo|as_crispy_field}}
                        </div>
                        <div class="col-3">
                          {{form.motivo|as_crispy_field}}
                        </div>
                        <div class="col-3 mt-4">
                          <button class="btn btn-success btn-block">Enviar</button>
                        </div>
                      </div>
                    </form>

{% endblock %}




{% block operaciones %}

    {% if operations %}
    <ul class='list-group'> 
        {% for op in operations %}
        
        <li class='list-group-item'><strong>{{ op.fecha|timezone:"America/Caracas" }} || <span class="op-amount"> {{op.monto}} </span> || {{op.metodo}} || {{op.motivo}}</strong></li></li>

        {% endfor %}
    </ul>
    {%endif%}

    {% endblock %}

    {% block totales %}
    <h3>total zelle: {{sumZelle}}</h3>
    {% endblock %}


    
</body>
</html>